:root {
	--container-width: 1250px;
	--container-padding: 15px;

	--font-family: 'Montserrat', sans-serif;

	--color-light: #fff;
	--color-dark: #000;
	--color-accent: #6ea057;

	--laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;

	--transition-duration: 0.3s;
}


