.btn,
a.btn {
	display: inline-block;
	padding: 13px;
	width: 170px;
	background-color: var(--color-light);
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	color: var(--color-dark);
	transition-duration: var(--transition-duration);

	&:hover {
		background: var(--color-accent);
	}

	&--mobile-wide {
		@include mobile {
			width: 100%;
			padding: 10px 16px;
		}
	}
}
